{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido al Sistema de Control de Seguridad</h1>
    <p>Este es el sistema de control de seguridad para la empresa.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, molestiae hic! Nisi, libero error, perferendis exercitationem inventore eligendi non quasi sit deserunt sequi tenetur eaque aut nam quis perspiciatis iure.
    Eos ut quaerat ducimus et repudiandae ex tenetur culpa porro provident vitae non minima, rerum magni dolore dolorem in quo maxime fuga a quam eaque harum recusandae sit ratione? Eos.
    Unde ratione, eos quidem fugit aperiam distinctio provident corporis hic ea id possimus, vel optio iure quis officia accusamus nesciunt neque sit illo magnam, est odio. Distinctio minima hic tenetur.
    Sequi quisquam veniam voluptatem! Consequuntur est consequatur quas dicta nam obcaecati ab aliquid, culpa saepe eveniet laboriosam dolores maiores? Laborum a voluptates perspiciatis dolor laboriosam natus dignissimos illum quod quo!
    Laudantium voluptatem voluptatibus asperiores aspernatur at eveniet harum dolore velit quisquam quibusdam temporibus reprehenderit corrupti illum accusamus doloribus quaerat a iusto sapiente exercitationem deleniti magnam quod, architecto delectus. Cupiditate, possimus?
    </p>
{% endblock %}